<%= stylesheet_link_tag 'movies' %>
<div class="tmdb_field">
  <h1>Movies in Japan</h1><br>

  <div class="row">
    <% @tmdb.each_with_index do |movie, index| %>
      <div class="col-md-4">
        <div class="movie">
         <h3><div class="title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><%= movie['title'] %></div></h3>
          <% if movie['poster_path'] %>
           <div class="poster">
            <img src="https://image.tmdb.org/t/p/w300/<%= movie['poster_path'] %>" alt="Movie Poster">
           </div>
          <% end %><br>
          <div class="overview"><%= movie['overview'] %></div><br>
        </div>
      </div>

      <% if (index + 1) % 3 == 0 %>
        <div class="w-100"></div> <!-- 改行用の要素 -->
      <% end %>
    <% end %>
  </div>
</div>