

<h1 class="index_h1">ALL USER</h1>
<div class ="index-main">
 <div class="container">
    <% @users.each do |user|%>
      <div class="users-index">
        <div class="user-right">
          <%= image_tag "/user_images/#{user.picture}", width:50,height:50%>
          <%= link_to user.name, user_path(user.id)%>
        </div>
      </div>
    <% end %>
 </div>
</div>