

<h1 class="index_h1">ALL USER</h1>
<div class ="index-main">
 <div class="container">
    <% @users.each do |user|%>
      <div class="users-index">
        <div class="user-right">
         <% if user.picture.attached? %><br>
          <%= image_tag user.picture, width: 50, class: "mb-2 rounded-circle" %>
          <% else %>
          <%= image_tag "/user_images/no_image.png", width: 50, class: "mb-2 rounded-circle" %>
          <% end %>
          <%= link_to user.name, user_path(user.id)%>
          <% if current_user.admin?%>
           <%= link_to "削除", user, data: {turbo_method: :delete, confirem:"#{user.name}を削除してよろしいですか？"},class: "btn btn-danger"%>
          <% else%>
          <% end %> 
        </div>
      </div>
    <% end %>
 </div>
</div>mm