<header>
  <div class="header-logo">
    <a href="/">MOVIE TALK</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">MOVIE TALKについて</a></li>
  </ul>
</header>

<div class ="index-main">
 <div class="container">
  <h1>全てのユーザー</h1>
    <% @users.each do |user|%>
      <div class="users-index">
        <div class="user-right">
          <%= link_to user.name, user_path(user.id)%>
        </div>
      </div>
    <% end %>
 </div>
</div>