<header>
  <div class="header-logo">
    <a href="/">MOVIE TALK</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">MOVIE TALKについて</a></li>
  </ul>
</header>

<div class="main user-show">
  <div class="container">
    <h1 class="user-headding"></h1>
      <div class="users-show-item">
        <div class="user-right">
          <%= image_tag "/user_images/#{@user.picture}", width:200, height:200%><br>
          <%= @user.name %><br>
          <%= @user.email%>
        </div>
      </div>
  </div>
</div>