<header>
  <div class="header-logo">
    <a href="/">MOVIE TALK</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">MOVIE TALKについて</a></li>
  </ul>
</header>
<div class="main about-top">
  <div class ="top-message">
    <p>映画が好きという皆まさへ</p>
    <p>MOVIE TALKとは</p>
    <p>自分以外の人のおすすめの映画を閲覧したり、ユーザーと映画の感想を言い合える場所です</p>
    
    <img class="yaritori-img" src="/yaritori.png">
  </div>
</div>