<header>
  <div class="header-logo">
    <a href="/">MOVIE TALK</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">MOVIE TALKについて</a></li>
  </ul>
</header>
<div class="main top-main">
<h1>Movie Talk</h1>
<p>好きが見つかる</p>
</div>