<header>
  <div class="header-logo">
    <a href="/">MOVIE TALK</a>
  </div>
  <ul class="header-menus">
    <li><a href="/about">MOVIE TALKについて</a></li>
  </ul>
</header>
<div class="main top-main">
<h1>Movie Talk</h1>
<p>好きが見つかる</p>
<p><%= link_to "　入館　", login_path,class:"btn btn-secondary" %></p>
<p><%= link_to "新規登録", new_user_path, class:"btn btn-secondary" %></p>

</div>