@import "bootstrap-sprockets";
@import "bootstrap";

.show_user-movie{
  padding: 200px 0 100px 100px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: black;
  background-color:#dcdcdc ;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("/movie_images/old_noot.png")
}

.show_user-movie{
  h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}

.user-show{
  padding: 100px 0 100px 100px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: black;
  background-color:#dcdcdc ;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("/movie_images/movie_new.png")
}

.user_edit{
  padding: 100px 0 100px 100px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: black;
  background-color:#dcdcdc ;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("/movie_images/movie_new.png")
}

.tmdb_field{
  padding: 100px 100px 100px 100px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: black;
  background-color:#dcdcdc ;
  background-position: center 50%;
  background-size: cover;
  background-image: url("/movie_images/movie_new.png")
}
