<div id="map" style="width: 100%; height: 400px;"></div>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { key: 'AIzaSyBthnt69r-Vr2hcLQeME-2k5I5J4zhJi3k' }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": 43.0634672,
        "lng": 141.3544036,
        "picture": {
          "url": "http://www.blankdots.com/img/github-32x32.png",
          "width":  32,
          "height": 32
        },
        "infowindow": "hello!"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>







